<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-md-5">
      <div class="form-group">
        <label for="search">Search</label>
        <input ng-model="$ctrl.query" class="form-control" id="search" placeholder="Enter keyword" />
      </div>
    </div>
    <div class="col col-md-2">
      <div class="form-group">
        <label for="sortBy">Sort by</label>
        <select ng-model="$ctrl.orderProp" class="form-control"  id="sortBy">
          <option value="id">ID</option>
          <option value="title">Title</option>
          <option value="expiryDate">Expiry Date</option>
          <option value="cancelDate">Cancel Date</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-7">
	  <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="$ctrl.archivedOffers.length == 0">
            <td colspan="3"><i>There are no archived offers</i></td>
          </tr>
	      <tr ng-repeat="offer in $ctrl.archivedOffers  | filter:$ctrl.query | orderBy:$ctrl.orderProp">
		    <td>{{offer.id}}</td>
		    <td>{{offer.title}}</td>
		    <td>{{offer.cancelDate ? 'Cancelled on ' + offer.cancelDate : 'Expired on ' + offer.expiryDate}}</td>
		  </tr>
	    </tbody>
	  </table>
    </div>
  </div>
</div>