<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-md-5">
      <div class="form-group">
        <label for="search">Search</label>
        <input ng-model="$ctrl.query" class="form-control" id="search" placeholder="Enter keyword" />
      </div>
    </div>
    <div class="col col-md-2">
      <div class="form-group">
        <label for="sortBy">Sort by</label>
        <select ng-model="$ctrl.orderProp" class="form-control"  id="sortBy">
          <option value="id">ID</option>
          <option value="title">Title</option>
          <option value="expiryDate">Expiry Date</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-7">
	  <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Expiry Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="$ctrl.activeOffers.length == 0">
            <td colspan="4"><i>There are no active offers</i></td>
          </tr>
	      <tr ng-repeat="offer in $ctrl.activeOffers  | filter:$ctrl.query | orderBy:$ctrl.orderProp">
		    <td>{{offer.id}}</td>
		    <td>{{offer.title}}</td>
		    <td>{{offer.expiryDate}}</td>
		    <td>
		      <div class="float-right">
		        <a href="#!/view/{{offer.id}}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
		        <a href="#!/cancel/{{offer.id}}" class="btn btn-danger"><i class="fas fa-times"></i></a>
		      </div>
		    </td>
		  </tr>
	    </tbody>
	  </table>
    </div>
  </div>
</div>